---
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Welcome from "../components/Welcome.astro";
import Social from "../components/Social.astro";
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/sanity";

const posts = await getPosts();
---

<Layout title="Welcome to Astro.">
  <Hero slot="hero" />
  <Welcome />
  <Social />
  <section class="py-16 px-6">
    <div class="max-w-6xl mx-auto">
      <h2 class="font-headline text-dark mb-6">Portfolio</h2>
      <p class="text-lg">
        Here are some of my projects.
      </p>
    </div>
  </section>
  <section>
    {posts.length ? posts.map((post) => <Card post={post} />) : <Hero />}
  </section>

</Layout>
