---
import SocialIcons from './SocialIcons.tsx';
---

<section class="px-6 mt-10" id="socials">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-3xl md:text-4xl font-headline text-dark mb-8 font-medium">My Socials:</h2>
    <SocialIcons client:load />
  </div>
</section> 