---
// Welcome section component
---

<section class="py-2 px-6 md:px-20">
  <div class="max-w-6xl mx-auto">
    <h2 class="text-5xl font-headline text-dark mb-8 md:text-center">Welcome to My Portfolio</h2>
    <p class="text-lg text-muted mx-auto md:text-center">Hi! I am a front-end developer and graphic designer based in Namsos, currently working at Namdalsavisa. Over the past two years, Ive been studying front-end development at Noroff, where I have honed both my creative and technical skills.</p>
    <p class="text-lg text-muted mx-auto md:text-center mt-4">I specialize in building engaging, responsive user experiences using technologies like <span class="text-primary font-black uppercase">React, HTML, CSS, and JavaScript</span>, along with tools like <span class="text-primary font-black uppercase">Figma, Vev, Adobe Creative Suite, GitHub</span>, and <span class="text-primary font-black uppercase">CI/CD workflows</span>.</p>
    <p class="text-lg text-muted mx-auto md:text-center mt-4"> Whether I am designing clean layouts or developing modern web interfaces, I am passionate about turning ideas into functional, beautiful digital experiences.</p>
  </div>
</section>